body {
    background-color: #C8BBBB;
    font-family: "Outfit", sans-serif;
    text-align: center;
}
h1, h2, h3, h4, h5 {
    font-family: "Sansita", sans-serif;
    color: #755B5B;
    margin-bottom: 0.5em; 
}
.container, .content-container {
    max-width: 600px;
    margin: 20px auto; 
    padding: 2em;
    background-color: #C8BBBB; 
}
.enter, .keyword, button { 
    padding: 10px 30px;
    font-size: 1em;
    border-radius: 30px;
    background-color: #F1EDE9;
    color: #755B5B;
    border: none;
    cursor: pointer;
    transition: all 0.3s;
}

/* Hover effects for all button types */
.enter:hover, .keyword:hover, button:hover { 
    background-color: #D3CCC5;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
.keyword.active, .keyword.selected { 
    background-color: #755B5B;
    color: #FFFFFF;
}
ul, li { 
    list-style-type: none; 
    color: #755B5B;
    font-family: "Sansita", sans-serif;
}
/* Specific styles for keywords in a list */
.keyword-list .keyword { 
    display: inline-block;
    margin-right: 10px;
    padding: 5px 10px;
    background-color: #755B5B;
    border-radius: 20px;}